epoch-20-debug.txt
__pycache__
.vscode/launch.json
data/resources/cc.ro.300.vec.gz
data/resources/morphalt.xml
papers/
debug.py
data/resources/corola.200.5.vec.gz
epoch-*-debug.txt
test.py
tagging-results.txt
debug.txt
epoch-5-debug2.txt
epoch-10-debug2.txt
