__pycache__
.vscode/launch.json
.vscode/settings.json
papers/
debug.py
test.py
data/other/stanza
data/models/char_ids.txt
data/models/splitter_feat_len.txt
data/models/splitter_unic_props.txt
data/models/tagger_unic_props.txt
data/models/unknown_aclasses.txt
data/models/morphology/model.pt
data/models/parser/modelone.pt
data/models/parser/modeltwo.pt
data/models/parser/bert1/*.json
data/models/parser/bert2/*.json
data/models/parser/bert1/model.safetensors
data/models/parser/bert2/model.safetensors
data/models/parser/bert1/vocab.txt
data/models/parser/bert2/vocab.txt
data/models/parser/*debug*
data/models/splitter/model.pt
data/models/tagger/*debug*
data/models/tagger/cls/config.json
data/models/tagger/cls/model.pt
data/models/tagger/crf/config.json
data/models/tagger/crf/model.pt
data/models/tagger/cls_bert/*.json
data/models/tagger/crf_bert/*.json
data/models/tagger/cls_bert/model.safetensors
data/models/tagger/crf_bert/model.safetensors
data/models/tagger/cls_bert/vocab.txt
data/models/tagger/crf_bert/vocab.txt
rodna-models.tar.gz
*.conllu.old
*.conllu
conll18_ud_eval.py
rodna.dev.tokens
stanza.dev.tokens
ssplit_txt_files.py
