epoch-20-debug.txt
__pycache__
.vscode/launch.json
papers/
debug.py
data/resources/corola.200.5.vec.gz
epoch-*-debug.txt
test.py
tagging-results.txt
debug.txt
epoch-5-debug2.txt
epoch-10-debug2.txt
errors.txt
tagger-debug.txt
tagger-errors.txt
data/other/stanza
data/models/char_ids.txt
data/models/splitter_feat_len.txt
data/models/splitter_unic_props.txt
data/models/tagger_unic_props.txt
data/models/unknown_aclasses.txt
data/models/word_ids.txt
data/models/morphology/model.pt
data/models/parser/modelone.pt
data/models/parser/modeltwo.pt
data/models/parser/bert1/config.json
data/models/parser/bert1/pytorch_model.bin
data/models/parser/tok1/special_tokens_map.json
data/models/parser/tok1/tokenizer_config.json
data/models/parser/tok1/tokenizer.json
data/models/parser/tok1/vocab.txt
data/models/parser/bert2/config.json
data/models/parser/bert2/pytorch_model.bin
data/models/parser/tok2/special_tokens_map.json
data/models/parser/tok2/tokenizer_config.json
data/models/parser/tok2/tokenizer.json
data/models/parser/tok2/vocab.txt
data/models/splitter/model.pt
data/models/tagger/cls/config.json
data/models/tagger/cls/model.pt
data/models/tagger/crf/config.json
data/models/tagger/crf/model.pt
err2.txt
err.txt
.vscode/settings.json
parser-errors-dev.txt
parser-errors-test.txt
ro_rrt-ud-test.txt
ro_rrt-ud-dev.txt
ro_rrt-ud-dev.conllu
ro_rrt-test.conllu
rodna-models.tar.gz
ro_rrt-test.conllu.old
ro_rrt-ud-test.conllu
